<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat BSI - Ruby</title>
</head>
<body>

<div id="chat-log">
  <input type="text" id="message">
  <button id="disconnect">Desconectar</button>
</div>

</body>
</html>